---
layout: default
lang: en
ref: home
image: true
---

{% include core/metabar.html %}
{% assign projects = site.data.featured %}
{% assign news = site.data.news %}

<link rel="stylesheet" href="{{ 'assets/css/modal.css' | relative_url }}">
<link rel="stylesheet" href="{{ 'assets/css/masonry-main.css' | relative_url }}">
<style>
{% for project in projects.projects %}#{{ project.id }}-checkbox {
      display:none;
    }
    #{{ project.id }}-checkbox:checked ~ .modal#{{ project.id }}-modal,
    #{{ project.id }}-checkbox:checked ~ .modal-background#{{ project.id }}-background {
      display: block;
    }
    #{{ project.id }}-checkbox:checked ~ body {
      overflow: hidden;
    }
  {% endfor \%}
</style>

{% for project in projects.projects %}
<input type="checkbox" id="{{ project.id }}-checkbox">
<label for="{{ project.id }}-checkbox" class="modal-background" id="{{ project.id }}-background"></label>
<div class="modal" id="{{ project.id }}-modal">
  <div class="modal-header">
    <h3>{{ project.title }}</h3>
    <label for="{{ project.id }}-checkbox">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAdVBMVEUAAABNTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU0N3NIOAAAAJnRSTlMAAQIDBAUGBwgRFRYZGiEjQ3l7hYaqtLm8vsDFx87a4uvv8fP1+bbY9ZEAAAB8SURBVBhXXY5LFoJAAMOCIP4VBRXEv5j7H9HFDOizu2TRFljedgCQHeocWHVaAWStXnKyl2oVWI+kd1XLvFV1D7Ng3qrWKYMZ+MdEhk3gbhw59KvlH0eTnf2mgiRwvQ7NW6aqNmncukKhnvo/zzlQ2PR/HgsAJkncH6XwAcr0FUY5BVeFAAAAAElFTkSuQmCC"
        width="16" height="16" alt="close">
    </label>
    <p>{{ project.detail }}</p>
    <p>{% if project.paper %}<a
        href="{% if project.paper contains 'http' %} {{ project.paper }} {% else %} /assets/pdf/{{ project.paper }} {% endif %}"><i
          class="fas fa-book"></i>&nbsp; Paper</a> &nbsp;&nbsp;&nbsp; {% endif %}{% if project.video %}<a
        href="{{ project.video }}"><i class="fas fa-play"></i>&nbsp; Video</a> &nbsp;&nbsp;&nbsp; {% endif %}{% if
      project.slide %}<a href="/assets/pdf/{{ project.slide }}"><i class="fas fa-poll-h"></i>&nbsp; Slide</a>
      &nbsp;&nbsp;&nbsp; {% endif %}{% if project.appstore %}<a href="{{ project.appstore }}"><i
          class="fab fa-app-store-ios"></i>&nbsp; App Store</a> &nbsp;&nbsp;&nbsp; {% endif %}{% if project.code %}<a
        href="{{ project.code }}"><i class="fab fa-github"></i>&nbsp; Code</a> &nbsp;&nbsp;&nbsp; {% endif %}{% if
      project.link %}<a href="{{ project.link }}"><i class="fas fa-external-link"></i>&nbsp; Link</a>{% endif %}</p>
  </div>
  <div class="modal-content">
    {{ project.description | replace: 'site.baseurl', site.baseurl }}
  </div>
</div>
{% endfor %}

<article class="content">
  <section class="section">
    <header class="hero" style="padding-top: 0 !important;">
      <div class="row">
        <div class="col-xs-12 col-sm-4 vcenter">
          <img src="{{ 'assets/images/authors/profile.png' | relative_url }}"
            onerror="this.onerror=null; this.src='http://underthelights.github.io/assets/images/authors/profile.jpg'"
            class="profile-image">
        </div>
        <div class="col-xs-12 col-sm-8 vcenter">
          <article>
            <p class="section-body" style="margin-bottom: 1.2rem !important; font-size: 1.4rem;">
              <strong>Kyuhwan Shim 🤗</strong>
            </p>
            <p class="section-body" style="font-size: 0.7rem;">
              Senior Undergraduate  <strong><a href="http://cs.sogang.ac.kr"> @ Sogang U. Computer Science & Engineering</a>.</strong>
            </p>
            <p class="section-body" style="margin-bottom: 1.2rem !important;font-size: 0.7rem;">
              ex-Machine Learning Engineer Intern <strong><a href="http://nota.ai"> @ Nota Inc.</a></strong>
            </p>
            
            <p class="section-body" style="margin-bottom: 1.2rem !important;font-size: 0.6em;">
              <br> My research field encompasses computer vision and deep learning systems, spanning the intersection of computer science and mathematics. I’m interested in data science which can solve problems in reality logically, particularly focusing on data analytics and statistical method. Recently, I have an interest on semantic segmentation and domain adaptation field and aggressively participating in various contests.
            </p>

            <p class="section-body" style="margin-bottom: 1.2rem !important;font-size: 0.6em;">
              With the belief of "Every Experience is not Meaningless", I strive to achieve the goal of enhancing human lifestyles through my own reasoning. 
              I enjoy extracting insights from diverse datasets, utilizing cutting-edge models to solve real-world problems.
              With a passion for <strong>Deep learning & Data</strong>, I have a strong foundation in engineering and scientific disciplines. Continuously improving my skills, 
              I'm particularly interested in applying language models and state-of-the-art techniques to contribute to collaborative problem-solving.
              <br>
              <br>I had previously served as a Machine Learning Engineer Intern at <a href="https://nota.ai">Nota Inc. ITS Team</a>.
              <br>Previously, I co-found and worked as a <a
                href="https://connectoconnect.notion.site/CONNECTOCONNECT-1680e2899b6b49b79cdd7b7d226a1511">Senior Designer</a> at <a href="http://oconnect.kr/">OCONNECT</a>, based on <a
                href="https://www.unist.ac.kr/">UNIST</a>. 
            </p>
            <!-- <br>
              In Nota, I'm working as an ML Engineer for four fields:
              [Computer Vision] Developing vision-based AI models for an Intelligent Traffic System.
              Application and experimentation with state-of-the-art computer vision models such as YOLOX and YOLOv8 Pipeline.
              [EdgeAI] Inferring traffic data extractor models on NVIDIA AGX Orin using DeepStream 6.1.
              [MLOps] Enhancing the machine learning pipeline using tools such as Kubeflow, Docker, and GCP.
              [Data/DevOps] Constructing a data lake for processing public data utilizing AWS and GitHub Actions. -->
          </article>

        </div>
      </div>
    </header>
  </section>
  <!-- <section class="section" style="border-bottom: 1px solid #e9e9e9; border-top: 1px solid #e9e9e9;">
    <h2 class="section-title-style">Research Area</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-8 vcenter">
        <p class="section-body" style="font-size: 14px;">My research focuses on <span class="intext-highlight"
            id="designing">designing</span> a <span class="intext-highlight" id="social">Human Centered AI
            system</span>.<br><br>Hover over the following diagram to view some relevant publications!</p>
        <div class="left-box">
          <button class="main-button" onclick="location.href='https://underthelights.github.io/publication'">View
            more</button><br>
        </div>
        <!-- </div>
      <div class="col-xs-12 col-sm-4 vcenter">
        <div class="venn" id="venn"></div>
        <div id="tooltip">&nbsp;</div>
      </div> </div>
  </section> -->
      


  <section id="education" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Education</h2>
    <article>
      <h3 class="section-header"> <a href="http://sogang.ac.kr/">Sogang University</a>
        <light>Seoul, Korea</light>
      </h3>
      <h4>Mar 2019 ~ Present</h4>
      <p class="section-body">B.Sc., <a href="http://cs.sogang.ac.kr/">Computer Science & Engineering</a> & Deep
        Interests in <a href="https://maths.sogang.ac.kr/">Mathematics </a></p>
      <p class="section-body">Leave for Military Duty at <a href="https://cb119.chungbuk.go.kr/yd119/main.do">Yeongdong Rescue & Firehouse</a> 
        
    </article>
    <article>
      <h3 class="section-header"><a href="http://cnsh.cnehs.kr/">Chungnam Science High School</a>
        <light>Kongju, Chungnam, Korea</light>
      </h3>
      <h4>Mar 2016 ~ Feb 2019</h4>
      <p class="section-body">High School Diploma, R&E @ Informatica, Informatics Student Research Group</p>
    </article>
  </section>



  <section id="work_experience" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Work Experience</h2>
    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://nota.ai">Nota Inc.</a>
        <light>Machine Learning Engineer Intern</light>
      </h3>
      <h4>Mar 2023 - Present</h4>
      <p class="section-body"><br><strong>[Computer Vision]</strong> Develop Vision-based AI models for Intelligent Traffic System
        <br>Application & Experiment SOTA Computer Vision Model: YOLOX, YOLOv8 Pipeline
        <br><strong>[EdgeAI]</strong> Inference Traffic Data Extractor Model on NVIDIA AGX Orin (at Deepstream 6.1.)
        <br><strong>[MLOps]</strong> Supplement ML Pipeline (kubeflow, Docker and GCP)
        <br><strong>[Data/DevOps]</strong> Construct Data lake for processing public data (AWS, GitHub Action)
      </p>
    </article>

    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://oconnect.kr">OCONNECT</a>
        <light>Co-Founder, Senior Designer, Programmer</light>
      </h3>
      <h4>June 2020 - Present</h4>
      <p class="section-body">Main Designer & Management Assistant<br>Assist developing ONESTEP, an easy-insert socket
      <br>Our mission is to create user-friendly products that address the difficulties faced by the underprivileged. 
      <br>We've developing OneStep, an easy to plug in everywhere.</p>
      <button class="main-button" style="float: left;"onclick="location.href='https://drive.google.com/file/d/1It1AegkWmy-Plux0zWxijJ-xgVQXLflU/view?usp=sharing'">View more</button><br>
    </article>
  </section>

  <section id="work_experience" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Military Duty</h2>
    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://cb119.chungbuk.go.kr/yd119/main.do">Yeongdong Firestation</a>
        <light>Korea Conscripted Firefighters</light>
      </h3>
      <h4>Aug 2020 - Mar 2022</h4>
      <p class="section-body"> Yeongdong Rescue & Firehouse of Chung-buk, Korea
      </p>
    </article>

  </section>



  <section id="awards" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Awards</h2>
    
    <article style="margin-bottom: 1rem">
      <h3 class="section-header">Grand Prize (1st Prize)
        <light><a href ="https://www.gangseo.seoul.kr/reserve/re040101/view?aplySn=44&curPage=1">Gangseo-gu</a></light>
      </h3>
      <h4>May 2023</h4>
      <p class="section-body">Risk Rating Model for Small Business Owners in Gangseo-gu using the Credit Rating Model<br></p>
      <div style="display: flex; justify-content: flex-start;">
        <button class="main-button" style="margin-right: 10px;" onclick="location.href='https://drive.google.com/file/d/1FFU6qle13KTmfLw6lo_hPR1w7uPOuGqH/view?usp=sharing'">Grand Prize (Mayor of Gangseo-gu Award)</button><br>
        <button class="main-button" onclick="location.href='https://drive.google.com/file/d/1RZwCfd_85QVnvTPo-msdA2zBcobjPSSI/view?usp=sharing'">Project Presentation</button><br>
      </div>
        
    </article>
    
    <article style="margin-bottom: 1rem">
      <h3 class="section-header">Grand Prize (Runner-up)
        <light><a href ="https://www.nia.or.kr/site/nia_kor/main.do">NIA</a>, <a href="https://www.msit.go.kr/index.do">Ministry of Science & Technology</a></light>
      </h3>
      <h4>Dec 2022</h4>
      <p class="section-body">
        ’22 BIGCONTEST Data Analytics Innovation League 2022 Grand Prize (Runner-Up)<br>
        <b>Nat’l Information Society Agency (NIA) President Award</b><br>
        Speech at Carbon Neutral Workshop of Shinhan Card \& World Bank
      </p>
      
      <div style="display: flex; justify-content: flex-start;">
        <button class="main-button" style="margin-right: 10px;" onclick="location.href='https://drive.google.com/file/d/151VNDxsmgUTVG-jY-S0Un1kOCpXDBjil/view'">Grand Prize</button><br>
        <button class="main-button" style="margin-right: 10px;" onclick="location.href='https://underthelights.github.io/DAVENGERS'">Official Link </button><br>
        <button class="main-button" style="margin-right: 10px;" onclick="location.href='https://drive.google.com/file/d/1exwZYFZGr4SERyfWMUiXnnF3c1Q4u3J-/view?usp=sharing'">Speech </button><br>
      </div>
    </article>


    <article style="margin-bottom: 1rem">
      <h3 class="section-header" href="https://drive.google.com/file/d/16-ozNcRcR17sJidKw2kGJPecNnCmsO_7/view">Excellence Prize
        <light><a href ="https://www.cnse.or.kr/main/index.action">Chung-nam Science Fair</a></light>
      </h3>
      <h4>May 2018</h4>
      <button class="main-button" 
      onclick="location.href='https://drive.google.com/file/d/12aQOG77AQNmd1SbOz4L0-_XBiEIdC9OX/view'">Poster </button><br>

      <p class="section-body">Solar Power System considering the impact of Wave Height</p>
    </article>

    <article style="margin-bottom: 1rem">
      <h3 class="section-header" href="https://drive.google.com/file/d/1K-fJuFwCTJyETWGgj4C2i1Micmt0WICw/view">Special Prize
        <light><a href ="https://www.cnse.or.kr/main/index.action">Chung-nam Science Fair</a></light>
      </h3>
      <h4>May 2018</h4>
      <button class="main-button" 
      onclick="location.href='https://drive.google.com/file/d/1VPgyaLFwZs51p9T1rbARIPho4eFRHCOz/view'">Poster </button><br>
      <p class="section-body">Laser Cutting Machine Using Mechanum Wheels</p>
    </article>


  <section id="Scholarships" class="section" style="border-bottom: 1px solid #e9e9e9;margin-bottom: 1rem; ">
    <h2 class="section-title">Scholarships</h2>
    
    <article style="margin-bottom: 1rem">
      <h3 class="section-header">Sogang Alumni Scholarship
        <light><a href ="https://www.sg-alumni.org/page/">Sogang U. Alumni</a></light>
      </h3>
      <h4>Mar 2020, Sep 2022, Mar 2023</h4>
      <p class="section-body">1-semester full scholarship on 2020 Spring (General), 2022 Fall (Start-Up), 2023 Spring (General)</p>
    </article>

    <article style="margin-bottom: 1rem">
      <h3 class="section-header">Sogang Albatross Scholarship
        <light><a href ="https://sogang.ac.kr">Sogang U.</a></light>
      </h3>
      <h4>Mar 2019</h4>
      <p class="section-body">1-year full scholarship for talent in SW Fields </p>
    </article>

    <article style="margin-bottom: 1rem">
      <h3 class="section-header">Do Young-Kyu Scholarship
        <light><a href ="https://kaist.ac.kr">Do Young-Kyu, Emeritus Professor of KAIST</a></light>
      </h3>
      <h4>Mar 2017</h4>
      <!-- <p class="section-body">1-semester full scholarship (2020)</p> -->
    </article>


    <article style="margin-bottom: 1rem">
      <h3 class="section-header">Kongju Myunghak Scholarship
        <light><a href ="http://mhscholarship.or.kr/">Kongju Myunghak Scholarship</a></light>
      </h3>
      <h4>Mar 2017</h4>
      <p class="section-body">1-semester full scholarship (2017)</p>
    </article>

    <article style="margin-bottom: 1rem">
      <h3 class="section-header">Samsung Dream Scholarship
        <light><a href ="https://www.sdream.or.kr/main">Samsung Dream Scholarship Foundation</a></light>
      </h3>
      <h4>Apr 2016</h4>
      <p class="section-body">1-year full scholarship (2016)</p>
    </article>
  </section>


  <!--
  <section id="academic_service" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Academic Services</h2>
    <article style="margin-bottom: 1rem">
      <h3 class="section-header">Reviewer of Conference Publications</h3>
      <p class="section-body">CHI 2021, CHI 2020<br>MobileHCI 2021</p>
    </article>
    <article>
      <h3 class="section-header">Student Volunteer
        <light>ISS 2020</light>
      </h3>
    </article>
  </section>

  <section id="teaching_experience" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Teaching Experience</h2>
    <article style="margin-bottom: 1rem">
      <h3 class="section-header">Teaching Assistant
        <light>Basic Computing (L0444.000400)</light>
      </h3>
      <h4>Summer 2021</h4>
      <p class="section-body">Teaching assistant for Basic Computing course, Seoul National University<br>Tutored 56 undergraduate students</p>
    </article>
    <article>
      <h3 class="section-header">Invited Keynote
        <light>Dept. of Information Science & Culture</light>
      </h3>
      <h4>April 2020, October 2018</h4>
      <p class="section-body">How to conduct HCI research projects as an undergrad (April 2020)<br>Introduction to iOS Programming (October 2018)</p>
    </article>
  </section>

  <section id="work_experience" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Work Experience</h2>
    <article>
      <h3 class="section-header"><a href="https://elecle.bike">elecle</a>
        <light>Electric mobility start-up</light>
      </h3>
      <p class="section-body">Worked as a part-time iOS developer</p>
    </article>
  </section>

  <section id="skills" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Skills</h2>
    <article style="margin-bottom: 1rem">
      <h3 class="section-header">Programming</h3>
      <p class="section-body">Swift (iOS/MacOS development)<br>Python<br>HTML+CSS+Javascript</p>
    </article>

    <article>
      <h3 class="section-header">Design</h3>
      <p class="section-body">Adobe Photoshop, Illustrator<br>Adobe XD, Figma</p>
    </article>
  </section>
  -->
  <section class="section" style="margin-bottom: 1rem; border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title-style">Featured Projects</h2>
    <div class="grid">
      {% for project in projects.projects %}
      <div style="cursor: pointer;" class="item {{ project.id }}">
        <div class="content-masonry-main blog">
          <img class="photothumb" src="{{site.baseurl}}/assets/images/projects/{{ project.image }}">
          <div class="title">
            <h3 style="font-size: 15px; font-weight: 500;">{{ project.title }}</h3>
          </div>
          <div class="desc">
            <p style="font-size: 12px">{{ project.detail }}</p>
            <div class="tags">
              <p>
                {% for tag in project.tags %}
                <a title="" href="" style="font-size: 11px">{{ tag }}</a>
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(".{{ project.id }}").click(function () {
          document.getElementById("{{ project.id }}-checkbox").checked = true;
          document.body.style.overflow = "hidden";
          return false;
        });

        document.getElementById('{{ project.id }}-checkbox').addEventListener('change', (event) => {
          document.body.style.overflow = "auto";
        })
      </script>
      {% endfor %}
    </div>
    <button class="main-button" style="margin-top: 2rem; float: right;"
      onclick="location.href='https://underthelights.github.io/project'">View more</button><br>
  </section>


  <section id="certificates" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Certificates</h2>
    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://www.credential.net/1be566a4-99f6-4924-9aae-6da9849a7ede#gs.di57x5">Certificate in Tensorflow Developers</a>
        <light>Tensorflow Certificate Program</light>
      </h3>
      <h4>Oct 2021 - Oct 2024</h4>
      <p class="section-body">Google ML Bootcamp</p>
    </article>

    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://drive.google.com/file/d/10puHr2Sx50nYuO4Kvwok21eHVkh-cxXg/view">Advanced Data Analytics Semi-Professional</a>
        <light><a href="https://www.kdata.or.kr/">Korea Data Agency</a></light>
      </h3>
      <h4>Apr 2021</h4>
      <p class="section-body">Data Science fundamentals</p>
    </article>

    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://drive.google.com/file/d/1fFC07HdVM503MIilDFu1RA1lsehfTmH9/view">ITQ OA Master</a>
        <!-- <light>Tensorflow Certificate Program</light> -->
      </h3>
      <h4>Oct 2011</h4>
    </article>

    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://drive.google.com/file/d/1NVSU2YuIR9KetIyaMwFBS0xzZulLiaL9/view?usp=sharing">GTQ Lv.2</a>
        <!-- <light>Tensorflow Certificate Program</light> -->
      </h3>
      <h4>Oct 2011</h4>
    </article>
  </section>

  <section id="awards" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Activities</h2>
    
    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://insightsg.notion.site/INSIGHT-Sogang-Univ-f5e18d99663c4f47a767dbe29d5ec170"> INSIGHT</a>
        <light>Business School of Sogang University</light>
      </h3>
      <h4>Sep 2022 - June 2023</h4>
      <p class="section-body">Undergraduate Data Science Study Group</p>
    </article>

    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://lgaimers.ai"> LG Aimers</a>
        <light>LG AI Research & DACON</light>
      </h3>
      <h4>Dec 2022 - Present</h4>
      <p class="section-body">
        Subject : Smart Factory Product Quality Status Classification AI Online Hackathon</a>
      </p>
      <p class="section-body"><b>[Phase 3]</b> Online Hackathon Finalist, Phase 2 Top 29 (3%, 29/891)</p>
      <div style="display: flex; justify-content: flex-start;">
        <button class="main-button" style="margin-right: 10px;" onclick="location.href='https://drive.google.com/file/d/1PA8f44wlax5uR_29AvfnqPGz51SPycP6/view?usp=sharing'">Certificate</button>
        <button class="main-button" onclick="location.href='https://drive.google.com/file/d/1TZq0Mu4kye22qpHClt7d8SWKIiZI1uBP/view?usp=sharing'">Presentation</button>
      </div>
    </article>


    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://codingcompetitions.withgoogle.com/codejam"> Google Code Jam</a>
        <light>Google</light>
      </h3>
      <h4>Oct 2021 - Present</h4>
      <p class="section-body"><a href="https://codingcompetitions.withgoogle.com/codejam/certificate/summary/00000000004360f1">
        Round 1</a></p>
    </article>


    <!-- <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://www.instagram.com/insight_sg/">Sogang Insight</a>
        <light>Sogang U. Business Society</light>
      </h3>
      <h4>Sep 2022 - Present</h4>
      <p class="section-body">Data Analytics & Deep Learning Group</p>
    </article> -->

    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://drive.google.com/file/d/1cmahJmg8acgmokpF_uY90G_1nVDDhnnY/view?usp=sharing">Google Machine Learning BootCamp</a>
        <light>Google Korea </light>
      </h3>
      <h4>Sep 2021 - Dec 2021</h4>
      <p class="section-body">Strong Motivation to Deep Learning with Coursera, Kaggle, Tensorflow Certificates, Online Webina and Networking</p>
    </article>

    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://acm.sogang.ac.kr">Sogang ICPC Team</a>
        <light>Sogang U. CSE Society</light>
      </h3>
      <h4>Mar 2019 - Present</h4>
      <p class="section-body">Algorithm Problem Solving Group </p>
    </article>
  </section>

  <!-- <section id="awards" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Grants & Awards</h2>
    <article style="margin-bottom: 1rem">
      <h3 class="section-header">UNIST Start-Up Competition
        <light>Ulsan Nat'l Institute of Science & Technology</light>
      </h3>
      <h4>Oct 2020, Oct 2019</h4>
      <p class="section-body">Representative of UNIST Start-up team</p>
    </article>
  </section> -->

  <section id="Media" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Media</h2>
    <article style="margin-bottom: 1rem">
      <div style="margin-bottom: 1rem;">
        <h3 class="section-header">'Nunettine' wins Grand Prize at Gangseo-gu Big Data Contest</h3>
        <button class="main-button" onclick="location.href='http://sogang.ac.kr/front/boardview.do?pkid=537223&currentPage=1&searchField=ALL&siteGubun=1&menuGubun=1&bbsConfigFK=58&searchLowItem=ALL&searchValue='">
          Sogang People</button>
      </div>
      <div style="margin-bottom: 1rem;">
        <h3 class="section-header">'DAVENGERS' wins '22 BIGCONTEST Data Analytics Innovation League</h3>
        <button class="main-button" onclick="location.href='http://sogang.ac.kr/front/boardview.do?pkid=536220&currentPage=6&searchField=ALL&siteGubun=1&menuGubun=1&bbsConfigFK=58&searchLowItem=ALL&searchValue='">
          Sogang People</button>
      </div>
      <div style="margin-bottom: 1rem;">
        <h3 class="section-header">UNIST venture 'OCONNECT' wins James Dyson Awards 2022</h3>
        <button class="main-button" onclick="location.href='https://news.unist.ac.kr/kor/20220908-1/'">
          UNIST Press</button>
      </div>
    </article>  
  </section>

  <section id="Speech" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Speech</h2>
    <article style="margin-bottom: 1rem">
      <h3 class="section-header"><a href="https://drive.google.com/file/d/1_WU_bEwV7MDeJLp8WUgvJKJYh_3UTlP7/view?usp=sharing">Carbon Neutral Workshop of Shinhan Card & World Bank</a></h3>
      <p class="section-body">
        <a>World Bank Workshop to Share Carbon-Neutral Management Practices</a>
        <br><strong>Attendee: World Bank, Shinhan Card</strong>
          <br>Richard Damania, Jun Rentschler, Jason Russ (World Bank Chief Economist)
          <br>Prof. Hyungna Oh (Kyunghee U.)
          <br>Shinhan Card Data Biz Team
        <br><strong>Team DAVENGERS</strong>: Speaker as a Winner of BIGCONTEST 2022
        <br><button class="main-button" onclick="location.href='https://drive.google.com/file/d/1exwZYFZGr4SERyfWMUiXnnF3c1Q4u3J-/view?usp=sharing'">
          Presentation</button>
      </p>
      
    </article>
  </section>
  

  <section id="LangSkill" class="section" style="border-bottom: 1px solid #e9e9e9;">
    <h2 class="section-title">Languages & Skills</h2>
    <article style="margin-bottom: 1rem">
      <h3 class="section-header">Korean (Native), English (Intermediate), 
        <a href="https://drive.google.com/file/d/1WQxf__NBLnLUqh7cyoFmiC9dnbVm0lQ6/view?usp=sharing">Hanja (Lv. 3) </a>
        <br><light>Languages</light>
      </h3>
      <h3 class="section-header">PyTorch & TensorFlow</a>
        <br><light>ML Framework</light>
      </h3>
      <h3 class="section-header">C, C++ (Intermediate), MATLAB, Assembly Lang, LaTeX (Novice)</a>
        <br><light>Programming Language</light>
      </h3>
      <h3 class="section-header">MS Powerpoint, Excel, Hancom Hangul, Adobe Photoshop, Figma</a>
        <br><light>Documents</light>
      </h3>
    </article>

    
  </section>

  <section id="contact" class="section">
    <h2 class="section-title">Contact</h2>
    <article>
      <h3 class="section-header" href="mailto:skh7343@cnsh.hs.kr">E-mail</h3>
    </article>
  </section>

  <section id="last_edit" class="last_edit">
    <h2 class="section-title">Last Edit</h2>
    <article>
      <h3 class="section-header">June 25, 2023</h3>
    </article>
  </section>

</article>

<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
  function resizeGridItem(item) {
    grid = document.getElementsByClassName("grid")[0];
    rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
    rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));
    rowSpan = Math.ceil((item.querySelector('.content-masonry-main').getBoundingClientRect().height + rowGap) / (rowHeight + rowGap));
    item.style.gridRowEnd = "span " + rowSpan;
  }

  function resizeAllGridItems() {
    allItems = document.getElementsByClassName("item");
    for (x = 0; x < allItems.length; x++) {
      resizeGridItem(allItems[x]);
    }
  }

  function resizeInstance(instance) {
    item = instance.elements[0];
    resizeGridItem(item);
  }

  window.onload = resizeAllGridItems();
  window.addEventListener("resize", resizeAllGridItems);

  allItems = document.getElementsByClassName("item");
  for (x = 0; x < allItems.length; x++) {
    imagesLoaded(allItems[x], resizeInstance);
  }
</script>

<link rel="stylesheet" href="{{ '/assets/css/venn-diagram.css' | relative_url }}">
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="{{ '/assets/js/venn.js' | relative_url }}"></script>
<script src="{{ '/assets/js/venn-diagram.js' | relative_url }}"></script> -->

{% include core/footer.html %}