---
layout: default
title: Kyuhwan Shim
description: Graduate School of AI, Seoul National University
---

{% assign projects = site.data.main-project.project %}
{% assign news = site.data.news.list %}

<div class="container py-4">
  <!-- Biography Section -->
  <div class="row mb-5">

    <div class="col-md-4">
        <img src="./assets/profile/kyuhwanshim.jpg" alt="Biography Photo" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="mt-3">
            <p style="font-size: 2rem; font-weight: 500;">Kyuhwan Shim</p>
            <p style="font-size: 1rem; font-weight: 300;">
            Master's Student<br>
            Graduate School of AI<br>
            Seoul National University
            </p>
        <div class="d-flex align-items-start mt-3">
            <a href="mailto://kyuhwan.shim@snu.ac.kr" class="document-link">
                <i class="fa-solid fa-envelope" style="margin-right: .8rem;"></i>
            </a>

            <!-- Curriculum Vitae -->
            <a href="https://underthelights.github.io/cv.pdf" class="document-link">
                <i class="fa-solid fa-file" style="margin-right: .8rem;"></i>
            </a>
            
            <!-- Google Scholar -->
            <a href="https://scholar.google.com/citations?hl=ko&user=BCSJtGoAAAAJ&view_op=list_works&gmla=AL3_zij7TsHcAUIThEj_S_qI7fu94GzYUzgl37j7vaPgy4mErwH50eQN41axBSLshMkRHyLxOYP7cCgV_rHE0iHxFmfFvRNumlUuG1_EbJp5uCnogeMtWzDjfg" class="document-link">
                <i class="fa-solid fa-graduation-cap" style="margin-right: .8rem;"></i>
            </a>

            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/kyuhwan-shim/" class="document-link">
                <i class="fa-brands fa-linkedin" style="margin-right: .8rem;"></i>
            </a>

            <!-- GitHub -->
            <a href="https://github.com/underthelights" class="document-link">
                <i class="fa-brands fa-github" style="margin-right: .8rem;"></i>
            </a>
        </div>
        </div>
      </div>
    <div class="col-md-8">
      <h2>Biography</h2>
      <p style="font-size: .95rem; font-weight: 300 !important;">
        <p class="mt-3">
            Greetings 🤗! I'm a graduate student at the <a href="https://gsai.snu.ac.kr">Graduate School of AI</a> at <a href="https://snu.ac.kr">Seoul National University</a>, under the supervision of <a href="https://bi.snu.ac.kr/~btzhang">Prof. Byoung-Tak Zhang. </a>
            Previously, I received my Bachelor's Degree from <a href="https://sogang.ac.kr">Sogang University</a> in Computer Science. 
        </p>
        <!-- RoboCup 2024 Participation -->
        <p class="mt-3">
            I am focused on developing machine learning algorithms aimed at constructing robust physical intelligence systems through multimodal representation learning. By integrating diverse data modalities into a unified representation space, my goal is to enable these systems to interpret and interact with real-world environments more effectively. 
            <!-- I worked as a Machine Learning Engineer Intern at <a href="https://nota.ai">Nota Inc.</a>, where I developed YOLO-based detection models at the ITS Team. I also co-founded and worked as a <a href="https://connectoconnect.notion.site/CONNECTOCONNECT-1680e2899b6b49b79cdd7b7d226a1511">Senior Designer</a> at <a href="http://oconnect.kr/">OCONNECT</a> Student Venture, based at <a href="https://www.unist.ac.kr/">UNIST</a>.
            I participated in <a href="https://drive.google.com/file/d/1yyCWi4MkYYWbNUV8-AbZZB9h1Yd3N081/view?usp=drive_link">Team TIDYBOY-DSPL</a>, where we achieved <a href="https://drive.google.com/file/d/1I0jE7nnWiEHefcE5POKJSnxS68QTiFjW/view?usp=drive_link">Finalist (3rd place)</a> in the <a href="https://athome.robocup.org/">Robocup@Home DSPL League</a>. --> 
            <!-- I participated in RoboCup 2024, where our team TIDYBOY-DSPL competed in the Robocup@Home league with Toyota HSR-B. Our team's goal is to apply general solutions from deep learning and robotics to solve real-world home service problems. I constructed a real-time object detection module for the robot to understand the environment, based on YOLOv10. In 2024, we became the finalist (3rd place) in RoboCup 2024 in Eindhoven, Netherlands. -->
        </p>

        <div class="col">
            <!-- <h2>Contact</h2> -->
            <div style="border: 1px solid #ddd; padding: 1rem; border-radius: 5px;">
                <p style="font-size: .95rem; font-weight: 300 !important;">
                    Mail: kyuhwan.shim@snu.ac.kr<br>
                    Location: Bldg. #303, Gwanak-ro, Gwanak-gu, Seoul, Republic of Korea (08826) 
                    <!-- Haedong Advanced Engineering Center -->
                </p>
            </div>
        </div>
        
    </div>
  </div>

<!-- Project Section -->
<!-- <div class="row mb-5">
    <div class="col-md-8">
        <h2>Projects</h2>
        <p style="font-size: .95rem; font-weight: 300 !important;">
            여기에 프로젝트 내용을 작성하세요.
        </p>
    </div>
</div> -->
<!-- Publication -->
<!-- Publication Section -->
<div class="container">
    <p style="font-weight: 500 !important; text-transform: uppercase;">Publication</p>
    <div class="row mt-2">
      {% for publication in publ %}
      <div class="col-6 col-md-3 mb-3 mb-md-0 align-self-center">
        <img src="{{ '/assets/images/publication/' | append: publication.image | relative_url }}" alt="" style="height: auto; width: 100%;">
        <p class="pt-2 mt-md-2" style="font-size: .9rem; font-weight: 400 !important; line-height: 1.1rem; text-align: center;">{{ publication.title }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="d-flex flex-row-reverse mt-4">
      <a href="{{ 'publication' | relative_url }}" style="font-size: .95rem; font-weight: 500 !important;">> View All</a>
    </div>
  </div>
<!-- Projects -->
<div class="container">
    <p style="font-weight: 500 !important; text-transform: uppercase;">Recent projects</p>
    <div class="row mt-2">
        {% for project in projects limit: 4 %}
        <div class="col-6 col-md-3 mb-3 mb-md-0 align-self-center">
            <img src="{{ '/assets/images/main-project/' | append: project.image | relative_url }}" alt=""
                style="height: auto; width: 100%;">
            <p class="pt-2 mt-md-2"
                style="font-size: .9rem; font-weight: 400 !important; line-height: 1.1rem; text-align: center;">{{
                project.title }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex flex-row-reverse mt-4">
        <a href="{{ 'project' | relative_url }}" style="font-size: .95rem; font-weight: 500 !important;">> View All</a>
    </div>
</div>

<!-- Experience Section -->
<div class="row mb-5">
    <div class="col-md-8">
        <h2>Experience</h2>
        <p style="font-size: .95rem; font-weight: 300 !important;">
            여기에 경력 내용을 작성하세요.
        </p>
    </div>
</div>

<div class="container">
    <!-- News -->
    <p style="font-weight: 500 !important; text-transform: uppercase;">News</p>
    <div class="row mt-4">
        {% for new in news limit: 6 %}
        <!-- Each news item is contained in a fixed height div to maintain uniformity -->
        <div class="col-12 col-sm-6 mb-4" style="height: 150px; display: flex; flex-direction: column; justify-content: space-between;">
            <div>
                <p class="mb-0" style="font-size: 1rem; font-weight: 400 !important;">{{ new.title }}</p>
                <p class="mb-1" style="font-size: .85rem; font-weight: 200 !important;">{{ new.date | date: "%b %-d, %Y" }}</p>
                <p style="font-size: .95rem; font-weight: 300 !important;">{{ new.description }}</p>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex flex-row-reverse mt-4">
        <a href="{{ 'news' | relative_url }}" style="font-size: .95rem; font-weight: 500 !important;">> View All</a>
    </div>
</div>
