---
layout: default
baseurl: /cv
title: CV
description: Curriculum vitae of Kyuhwan Shim
---

{% assign publications = site.publication | group_by: 'year' | sort: 'name' | reverse %}

<div class="container py-4">
  <div class="row">
    <div class="col-12">
      <main>
        <header>
          <h1>Kyuhwan Shim
            <!--<a class="pdf" href="{{ '/assets/pdf/cv.pdf' | relative_url }}" rel="external"><i class="fas fa-file-pdf"></i> <b>PDF</b></a></h1>
                  <p><a href="#" class="cryptedmail"
                    data-name="kyuhwan.shim"
                    data-domain="uw"
                    data-tld="edu"
                    onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"></a><br><a href="https://underthelights.github.io">underthelights.github.io</a><br></p> !-->
        </header>
        <section id="education">
          <h2>Education</h2>

          <div class="dated-entry">
            <div class="dated-date">2019</div>
            <div class="dated-content"><b><a href="https://sogang.ac.kr/">Sogang University</a></b>, Seoul, Korea<br>
              B.S., <a href="https://cs.sogang.ac.kr/">Computer Science and Engineering</a><br>
              <small>Deep Interests in <i>Data Science and Deep Learning</i></small><br>
              <small>Leave for Military Duty at <a href="https://cb119.chungbuk.go.kr/yd119/main.do">Yeongdong Rescue &
                  Firehouse</a></small><br>
            </div>
          </div>
          <div class="dated-entry">
            <div class="dated-date">2016</div>
            <div class="dated-content"><b><a href="https://cnsh.cnehs.kr/">Chungnam Science High School</a></b>, Kongju, Korea<br>
               <small>R&E at Informatics Student Group</small>
            </div>
          </div>
        </section>
        <!-- <section id="publications">
                  <h2>Publications</h2>
                  {% for pubs in publications %}
                    {% assign pub_items_sorted = pubs.items | sort: "month" | reverse %}https://cs.sogang.ac.kr/
                    {% for pub in pub_items_sorted %}
                    <div class="dated-entry">
                      <div class="dated-date">{% if forloop.first %}{{ pubs.name }}{% endif %}</div>
                      <div class="dated-content"><a style="font-weight: 500" href="{{ '/publication/' | append: pub.slug | relative_url }}">{{ pub.title }}</a><br>
                        {% for author in pub.authors %}
                        {% assign author_data = site.data.people.people | where:"name", author | first %}
                        {% if author == "Kyuhwan Shim" %}<a style="font-weight: 500 !important" href="https://underthelights.github.io" data-bs-toggle="tooltip" title="{{ author }} is a Ph.D. student at the {{ author_data.affiliation }}">Kyuhwan Shim</a>{% else %}{% if author_data.website %}<a href="{{ author_data.website }}" class="coauthor">{{ author }}</a>{% else %}<span class="coauthor">{{ author }}</span>{% endif %}{% endif %}{% unless forloop.last%}, {% endunless %}
                        {% endfor %}
                        <br>
                        {{ pub.venue }}.{% if pub.note %} ({{ pub.note}}){% endif %}<br>
                        {% if pub.award %}<i class="fas fa-medal"></i><span style="font-weight: 500">{{ pub.award }}</span><br>{% endif %}
                      </div>
                    </div>
                    {% endfor %}
                  {% endfor %}
                </section> -->
        <section id="research">
          <h2>Work Experience</h2>
          <div class="dated-entry">
            <div class="dated-date">Mar 2023 - Aug 2023</div>
            <div class="dated-content">
              <b><a href="https://nota.ai">Nota Inc. </a></b><br>
              Machine Learning Engineer Intern @ ITS Team <br>
              <!-- <small>Advisor: Dain Jeong</a></small> -->
              <!-- <br> -->
              <small><strong>[Computer Vision]</strong> Develop Vision-based AI models for Intelligent Traffic System
                <br>Application & Experiment SOTA Computer Vision Model: YOLOX, YOLOv8 Pipeline
                <br><strong>[EdgeAI]</strong> Inference Traffic Data Extractor Model on NVIDIA AGX Orin (at Deepstream
                6.1.)
                <br><strong>[MLOps]</strong> Supplement ML Pipeline (kubeflow, Docker and GCP)
                <br><strong>[Data/DevOps]</strong> Construct Data lake for processing public data (AWS, GitHub Action)
              </small>
            </div>

          </div>
          <div class="dated-entry">
            <div class="dated-date">2020 - 2023</div>
            <div class="dated-content">
              <b><a href="https://oconnect.kr">OCONNECT</a></b>, <a href="https://unist.ac.kr/">Ulsan Nat'l Institute of
                Science & Technology</a><br>
              Co-Founder, Senior Designer, Programmer<br>
              <!-- <br> -->
              <small>
                Assist developing ONESTEP, an easy-insert socket
                <br>To create user-friendly products that address the difficulties faced by the underprivileged.
                <br><button class="button" style="float: left;"
                  onclick="location.href='https://drive.google.com/file/d/1It1AegkWmy-Plux0zWxijJ-xgVQXLflU/view?usp=sharing'">View
                  more</button><br>
              </small>
            </div>
          </div>

          <div class="dated-entry">
            <div class="dated-date">2020F - 2022S</div>
            <div class="dated-content">
              <b><a href="https://oconnect.kr">Yeongdong Firehouse</a></b>, <a
                href="https://cb119.chungbuk.go.kr/yd119/main.do">Yeongdong Firestation</a>
              Korea Conscripted Firefighters<br>
              <!-- <br> -->
              <small>
                Military Duty
              </small>
            </div>
          </div>
        </section>
        <section id="awards">
          <h2>Awards</h2>
          <div class="dated-entry">
            <div class="dated-date">May 2023</div>
            <div class="dated-content">
              <b>Grand Prize (1st Prize)</b>, <a href ="https://www.gangseo.seoul.kr/reserve/re040101/view?aplySn=44&curPage=1">Gangseo-gu</a><br>
              Risk Rating Model for Small Business Owners in Gangseo-gu using the Credit Rating Model
              <small>
                <div style="display: flex; justify-content: flex-start;">
                  <button class="main-button" style="margin-right: 10px;" onclick="location.href='https://drive.google.com/file/d/1FFU6qle13KTmfLw6lo_hPR1w7uPOuGqH/view?usp=sharing'">Grand Prize (Mayor of Gangseo-gu Award)</button><br>
                  <button class="main-button" onclick="location.href='https://drive.google.com/file/d/1RZwCfd_85QVnvTPo-msdA2zBcobjPSSI/view?usp=sharing'">Project Presentation</button><br>
                </div>
              </small>
            </div>
          </div>

          <div class="dated-entry">
            <div class="dated-date">Dec 2022</div>
            <div class="dated-content">
              <b>Grand Prize (Runner-up)</b>, 
              <a href ="https://www.nia.or.kr/site/nia_kor/main.do">NIA</a>, <a href="https://www.msit.go.kr/index.do">Ministry of Science & Technology</a></light>
              <br>
              ’22 BIGCONTEST Data Analytics Innovation League 2022 Grand Prize (Runner-Up)<br>
              Nat’l Information Society Agency (NIA) President Award<br>
              Speech at Carbon Neutral Workshop of Shinhan Card & World Bank

              <small>
                <div style="display: flex; justify-content: flex-start;">
                  <button class="main-button" style="margin-right: 10px;" onclick="location.href='https://drive.google.com/file/d/151VNDxsmgUTVG-jY-S0Un1kOCpXDBjil/view'">Grand Prize</button><br>
                  <button class="main-button" style="margin-right: 10px;" onclick="location.href='https://underthelights.github.io/DAVENGERS'">Official Link </button><br>
                  <button class="main-button" style="margin-right: 10px;" onclick="location.href='https://drive.google.com/file/d/1exwZYFZGr4SERyfWMUiXnnF3c1Q4u3J-/view?usp=sharing'">Speech </button><br>
                </div>
              </small>
            </div>
          </div>

          <div class="dated-entry">
            <div class="dated-date">May 2018</div>
            <div class="dated-content">
              <b>Excellence Prize</b>, Chung-nam Science Fair<br>
              Solar Power System considering the impact of Wave Height
              <small><button class="main-button" 
                onclick="location.href='https://drive.google.com/file/d/12aQOG77AQNmd1SbOz4L0-_XBiEIdC9OX/view'">Poster </button><br>
              </small>
            </div>
          </div>

          <div class="dated-entry">
            <div class="dated-date">May 2018</div>
            <div class="dated-content">
              <b>Special Prize</b>, Chung-nam Science Fair<br>
              Laser Cutting Machine Using Mechanum Wheels
              <small>
                <button class="main-button" onclick="location.href='https://drive.google.com/file/d/1VPgyaLFwZs51p9T1rbARIPho4eFRHCOz/view'">Poster </button><br>
              </small>
            </div>
          </div>
          <section id="Scholarships">
            <h2>Scholarships</h2>
            <div class="dated-entry">
              <div class="dated-date">2020-2023</div>
              <div class="dated-content">
                <b>Sogang Alumni Scholarship</b>, Sogang U. Alumni<br>
                1-semester full scholarship
                <small>
                  <br> General Scholarships on 2020 Spring
                  <br> oconnect Scholarships on 2022 Fall
                  <br> Villarreal Priest Scholarships 2023 Spring, Fall (Founded by CEO of SMILEGATE)
                </small>
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">Mar 2019</div>
              <div class="dated-content">
                <b>Sogang Albatross Scholarship</b>, Sogang U.<br>
                1-year full scholarship for talent in SW Fields
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">Mar 2017</div>
              <div class="dated-content">
                <b>Do Young-Kyu Scholarship</b>, Do Young-Kyu, Emeritus Professor of KAIST
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">Mar 2017</div>
              <div class="dated-content">
                <b>Kongju Myunghak Scholarship</b>, 
                <a href ="http://mhscholarship.or.kr/">Kongju Myunghak Scholarship</a><br>
                1-semester full scholarship (2017)
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">Apr 2016</div>
              <div class="dated-content">
                <b>Samsung Dream Scholarship</b>, 
                <a href ="https://www.sdream.or.kr/main">Samsung Dream Scholarship Foundation</a>
                <br>
                1-year full scholarship (2016)
              </div>
            </div>
          </section>

          <section id="Certificates">
            <h2>Certificates</h2>
            <div class="dated-entry">
              <div class="dated-date">Oct 2021 - Oct 2024</div>
              <div class="dated-content">
                <b href="https://www.credential.net/1be566a4-99f6-4924-9aae-6da9849a7ede#gs.di57x5">Certificate in Tensorflow Developers</b>, Tensorflow Certificate Program
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">Apr 2021</div>
              <div class="dated-content">
                <b><a href="https://drive.google.com/file/d/10puHr2Sx50nYuO4Kvwok21eHVkh-cxXg/view"> Advanced Data Analytics Semi-Professional</a></b>
                <a href="https://www.kdata.or.kr/">Korea Data Agency</a>
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">Oct 2011</div>
              <div class="dated-content">
                <b>
                  <a href="https://drive.google.com/file/d/1fFC07HdVM503MIilDFu1RA1lsehfTmH9/view">ITQ OA Master</a>
                </b>
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">Oct 2011</div>
              <div class="dated-content">
                <b>
                  <a href="https://drive.google.com/file/d/1NVSU2YuIR9KetIyaMwFBS0xzZulLiaL9/view?usp=sharing">GTQ Lv.2</a>
                </b> 
              </div>
            </div>
          </section>


          <section id="Activities">
            <h2>Activities</h2>
            <div class="dated-entry">
              <div class="dated-date">Sep 2023</div>
              <div class="dated-content">
                <b>Samsung AI Challenge 2023</b>, Samsung Advanced Institute of Technology
                <br>
                <small>
                  [Subject] Camera Invariant Domain Adaptation
                  <br> Top 30, Invited as the talent pool of Samsung Electronics
                </small>
              </div>
            </div>
            <div class="dated-entry">
              <div class="dated-date">Sep 2022 - June 2023</div>
              <div class="dated-content">
                <b>INSIGHT</b>, Business School of Sogang University
                <br>
                <small>Undergraduate Data Science Study Group</small>
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">Dec 2022 - Mar 2023</div>
              <div class="dated-content">
                <b>LG Aimers : Data Intelligence</b> LG AI Research & DACON
                <small>
                  <br>[Subject] Smart Factory Product Quality Status Classification AI Online Hackathon<br>
                  [Phase 3] Online Hackathon Finalist, Phase 2 Top 29 (3%, 29/891)
                </small>
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">Oct 2021 - Nov 2021</div>
              <div class="dated-content">
                <b>Google Code Jam</b>, Google<br>
                Round 1
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">Sep 2021 - Dec 2021</div>
              <div class="dated-content">
                <b>Google Machine Learning BootCamp</b>, Google Korea
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">Mar 2019 - Present</div>
              <div class="dated-content">
                <b>Sogang ICPC Team / Release </b>, Sogang U. CSE<br>
                Algorithm Problem Solving Group
              </div>
            </div>
          </section>

          <section id="Medias">
            <h2>Medias</h2>
            <div class="dated-entry">
              <div class="dated-date">2023</div>
              <div class="dated-content">
                <b>'Nunettine' wins Grand Prize at Gangseo-gu Big Data Contest</b>
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">2022</div>
              <div class="dated-content">
                <b>'DAVENGERS' wins '22 BIGCONTEST Data Analytics Innovation League</b>
              </div>
            </div>

            <div class="dated-entry">
              <div class="dated-date">2022</div>
              <div class="dated-content">
                <b>UNIST venture 'OCONNECT' wins James Dyson Awards 2022</b>
              </div>
            </div>
          </section>
          <section id="Speech">
            <h2>Speech</h2>
            <div class="dated-entry">
              <div class="dated-date">May 2023</div>
              <div class="dated-content">
                <b>Carbon Neutral Workshop of Shinhan Card & World Bank</b><br>
                <small>
                  World Bank Workshop to Share Carbon-Neutral Management Practices<br>
                  Attendee: World Bank, Shinhan Card<br>
                  Richard Damania, Jun Rentschler, Jason Russ (World Bank Chief Economist)<br>
                  Prof. Hyungna Oh (Kyunghee U.)<br>
                  Shinhan Card Data Biz Team<br>
                  Team DAVENGERS: Speaker as a Winner of BIGCONTEST 2022
                </small>
              </div>
            </div>
            <div class="dated-entry">
              <div class="dated-date">Mar 2023</div>
              <div class="dated-content">
                <b>YOLOv8 Seminar </b><br>
                <small>
                  Nota Inc.
                </small>
              </div>
            </div>
          </section>

      </main>
    </div>
  </div>
</div>

<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<style>
  /* reset base styles */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* page header */
  header {
    margin-bottom: 2rem;
    padding-left: 6.5rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header p {
    margin: .5rem 0;
    font-size: 1rem !important
  }

  main b {
    font-weight: 500
  }

  /* normal body content */
  h2 {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
    margin-left: 6.5rem;
    text-transform: uppercase;
  }

  h3 {
    border-bottom: 1px solid black;
    font-size: .9rem;
    margin: 1rem 0 .5rem 6.5rem
  }

  p {
    margin-bottom: 0.5rem;
  }

  a {
    color: inherit;
    /*#0000ee;*/
  }

  section {
    margin-bottom: 3rem;
  }

  /* misc */
  .pdf {
    font-size: .9rem !important;
    font-weight: 300;
    margin-left: 1.5rem;
    white-space: nowrap;
  }

  .pdf i {
    margin-right: .1rem;
  }

  .material {
    font-size: small;
    margin-left: .5rem;
  }

  :global(i) {
    padding-right: 4px !important
  }

  /* dated entries */
  .dated-entry {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin-bottom: 1rem;
  }

  .dated-date {
    width: 6.5rem;
    text-align: right;
    padding-top: .15rem;
    padding-right: 1.5rem;
    font-size: .8rem
  }

  .dated-content {
    width: calc(100% - 6.5rem);
    font-size: .95rem
  }

  .oneline-entries {
    margin-bottom: 0.5rem;
  }

  .oneline-entries .dated-entry {
    margin-bottom: 0;
  }

  /* hide extra awards info for now, not sure what to include */
  #awards em {
    display: none;
  }

  .author-tooltip {
    font-weight: 400;
    font-size: .8rem !important;
    text-align: center;
  }

  /* on narrow displays, make the font smaller */
  @media (max-width: 480px) {
    html {
      font-size: 14px;
    }
  }

  /* when printing, make the font smaller and the page full-width */
  @media print {
    html {
      font-size: 12px;
    }

    main {
      margin-top: 0;
      max-width: 100%;
    }
  }
</style>