/* <style> */


/* 버튼 스타일 */
.button {
    /* padding: 8px 15px; */
    font-size: 0.85rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #007bff;
    /* background-color: #007bff; */
    border: none;
    border-radius: 15px;
}

.button:hover {
    background-color: #6aa6e7
}

.button:active {
    background-color: #0056b3;
    transform: translateY(4px);
}

/* 공통 스타일 */
.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-item {
    cursor: pointer;
    margin-bottom: 20px;
}

/* 리스트 뷰 스타일 */
.list-view .news-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.list-view .news-thumbnail {
    display: none;
    /* 리스트 뷰에서는 썸네일 숨김 */
}

.news-title,
.news-date,
.news-description {
    margin: 0;
}

.news-title {
    font-size: 1rem;
    font-weight: bold;
}

.news-date {
    font-size: 0.85rem;
    color: grey;
}

.news-description {
    font-size: 0.95rem;
}

/* 액자 뷰 스타일 */
.frame-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.frame-view .news-item {
    width: calc(33.333% - 20px);
    /* three items per row */
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.news-thumbnail {
    width: 100%;
    /* responsive */
    height: 150px;
    /* fixed height */
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

button#toggleView {
    --background: #275efe;
    --text: #fff;
    --font-size: 16px;
    --duration: 0.44s;
    --move-hover: -4px;
    --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
    --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
    padding: 16px 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1;
    border-radius: 24px;
    display: block;
    outline: none;
    appearance: none;
    border: none;
    text-decoration: none;
    font-size: var(--font-size);
    letter-spacing: 0.5px;
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    transform: translateY(0);
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}

button#toggleView:hover {
    --shadow: var(--shadow-hover);
    transform: translateY(var(--move-hover));
}